h1 {
    color: darkslategray;
    font-family: 'Courier New', cursive;
    font-size: 60px;
    position: absolute;
    right: 150px;
    top: 100px;
}

h2{
    color: darkslategray;
    font-family: 'Courier New', cursive;
    padding-left: 20px;
    padding-top: 30px;
    text-decoration: underline;

}

a{
    font-size: 20px;
    padding-left: 20px;
}

body {
    background-image: url("/static/apple-background-connection-399161.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 20px;
}

form{
    padding-left: 20px;
}

li{
    padding-bottom: 10px;
}

hr{
    margin-right: 600px;
    color: #9291911a;
}

#question_message{
    padding-right: 600px;
}

table{
    text-align: center;
}

td{
    padding: 0px 20px;
}

thead{
    text-decoration: underline;
    font-size: 18px;
    font-weight: bolder;
}

#search_form{
    padding-top: 30px;
    position: absolute;
    top: 20px;
    left: 50px;
}

#add_question{
    position: absolute;
    top: 150px;
    left: 50px;
}

#list_question{
    position: absolute;
    top: 250px;
}

#sort{
    list-style-type:none;
    position: absolute;
    top:200px;
    left:50px
}

#answer_image{
    font-weight: bold;
    font-size: smaller;
}