h1 {
    color: #decbb1;
    font-family: Ubuntu;
    font-size: 80px;
    position: absolute;
    right: 400px;
    top: 100px;
}


h2{
    color: #ab8343;
    font-size: 60px;
    font-family: Ubuntu;
    padding-right: 500px;
    padding-left: 20px;
    padding-top: 30px;
}

#question{
    color: #ab8343;
    font-size: 50px;
    padding-left: 30px;
}

h3{
    font-size: 25px;
    color: #ab8343;
    padding-left: 30px;
}
h4{
    padding-left: 50px;
    color: #ab8343;
}

h5{
    color: #ab8343;
    font-size: 20px;
    padding-left: 60px;
}

h6{
    font-size: 17px;
    padding-left: 60px;
}

p{
    padding-left: 50px;
}
a{
    font-size: 25px;
    padding-left: 20px;
    color: #ab8343;
    text-decoration: none;
}


a:hover{
    color: #7c593a;
}

body {
    background-image: url("/static/fancybackground.jpg");
    background-attachment: fixed;
    background-size: 110%;
    padding-left: 20px;
    color: antiquewhite;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

form{
    padding-left: 20px;
}

li{
    padding-bottom: 10px;
    list-style-type:none;
}

hr{
    margin-right: 600px;
    color: #968b8b80;
}

#question_message{
    padding-right: 600px;
    padding-left: 50px;
    font-size: 20px;
}

#answer_message{
    font-size: 20px;
}
table{
    text-align: center;
    padding-bottom: 20px;
}

td{
    padding: 0px 30px;
}

.search_list{
    padding-bottom: 0px;
    font-size: 15px;
    color: whitesmoke;
}

.search_title{
    color: whitesmoke;
    font-size: 20px;
    padding-top: 20px;
}

#search_sheet{
    position: absolute;
    top: 150px
}

#search_phrase{
    position: absolute;
    top: 100px;
    left: 50px;
    color: whitesmoke;
}

thead{
    text-decoration: underline;
    font-size: 18px;
    font-weight: bolder;
}

footer{
    padding-top: 50px;
    padding-left: 30px;
}

#search_form{
    padding-top: 30px;
    position: absolute;
    top: 20px;
    left: 50px;
}

#add_question{
    position: absolute;
    top: 125px;
    left: 70px;
}

#list_question{
    position: absolute;
    top: 250px;
    color: antiquewhite;
}

#sort{
    list-style-type:none;
    position: absolute;
    top:200px;
    left:50px
}

#answer_image{
    font-weight: bold;
    font-size: smaller;

#question_comment{
    padding-left: 70px;
    font-size: 17px;
}

#answer_comment{
    font-weight: lighter;
    padding-left: 85px;
}

textarea{
    background: navy;
}