<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ask a question | AskMate</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <h2>Ask a question</h2>
    <form action= {{ url_for('route_save_question') }} method="POST">
    <p><label for="title">Title:</label><br>
    <textarea id="title" name="title" rows="1" cols="80" required></textarea></p>
    <p><label for="message">Question:</label><br>
    <textarea id="message" name="message" rows="8" cols="80" required></textarea></p>
        <h3>Upload picture</h3>
        <p><textarea name="image" rows="1" cols="50"></textarea></p>
    <p><button type="submit">Ask this question!</button></p>
    </form>
</body>
{% include 'footer.html' %}
</html>