<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ask a question | AskMate</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <h2>Ask a question</h2>
    <form action='/add-question' method="POST">
    <p><label for="title">Title:</label><br>
    <textarea id="title" name="title" rows="1" cols="80" required></textarea></p>
    <p><label for="message">Question:</label><br>
    <textarea id="message" name="message" rows="8" cols="80" required></textarea></p>
        <h2>Upload picture</h2>
        <p><label for="image"> <input type=file name="image"></label></p>
    <p><button type="submit">Ask this question!</button></p>
    </form>
</body>
</html>