<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Edit Answer</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <form action={{ url_for('edit_answer', answer_id=answer['id'], question_id=answer['question_id']) }} method="POST">
        <p>
            <label for="message">Answer:</label><br>
            <textarea name="message" rows="5" cols="100" required>{{ answer['message'] }}</textarea><br>
        </p>
        <p>
            <label for="image">Upload image:</label><br>
            <textarea name="image" rows="1" cols="50">{{ answer['image'] }}</textarea>
        </p>
        <button type="submit">Submit</button>
    </form>
</body>
{% include 'footer.html' %}
</html>
