<header>
    {%  if 'user_name' in session: %}
        <p id="username" style="color: #decbb1; font-size: 25px;position: absolute;margin-left: 57%;">Logged in as: {{ session['user_name'] }} <a id="logout" href={{ url_for('logout_user') }}>Logout</a></p>

    {%  else: %}
    <form class="login" style="display: inline-block; margin-left: 60%;" action={{ url_for('login_user') }} method="POST">
        <input type="text" name="user_name">
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
        <a id='reg_link' href="{{ url_for('registrate_user') }}">Sign up</a>
    {% endif %}
</header>