<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Ask Mate</h1>
    <a href="/add-question">Add new Question</a>
    <p>
        Order by:
        <form method="GET" action="/">
            <select name="Sort">
                <option value = "Title" >Title</option>
                <option value = "Vote" >Vote</option>
                <option value = "View" >View</option>
                <option value = "ID" >ID</option>
            </select>
        <button type="submit">Submit</button>
        </form>
    </p>

    <ul>
        {% for line in data: %}
        <li><a href="/question/{{ line['id'] }}">{{ line['title'] }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>



