<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
{% include 'header.html' %}
<body>
    <h1>Ask Mate</h1>




    <a id='add_question' href= {{ url_for('route_save_question') }}>Add new Question</a>
    <form id=search_form action=/search method="get">
        <input name="search_phrase">
        <input type="submit" value="Search">
    </form>
    <form id="sort" action="/" method="post">
        <select name="column">
            <option value="title">Title</option>
            <option value="submission_time">Submission Time</option>
            <option value="view_number">View Number</option>
            <option value="vote_number">Vote Number</option>
        </select>
        <input type="radio" name="order" value="asc">ascending
        <input type="radio" name="order" value="desc">descending
        <input type="submit" name='Submit' value="Sort">
    </form>
    <ul id="list_question" style="list-style-type:none;">
        {% for question in data: %}
            <li>
                <a href= "/question/{{ question.id }}">{{ question.title }}</a></br>
                <table id="question_data">
                    <td><i class="fas fa-check"></i> {{ question.vote_number }} </td>
                    <td><i class="far fa-clock"></i>: {{ question.submission_time }}</td>
                    <td><i class="far fa-eye"></i>: {{ question.view_number }}</td>
                </table>
            </li>
        {% endfor %}
        {% if url == 'home' %}
            <a href="{{ url_for('list_all_questions') }}"><i class="fas fa-arrows-alt-v"></i></a>
        {% elif url == 'list' %}
            <a href="{{ url_for('route_list') }}"><i class="fas fa-arrows-alt-v"></i></a>
        {% endif %}

    </ul>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>



