<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Answer</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body>
    {% for question in questions %}
    <h2>{{ question['title'] }}</h2>
    <p>{{ question['message'] }}</p>
    <form action= '/question/{{question['id']}}/new_comment/' method="POST">
        {% endfor %}
        <p>
            <label for="comment">Answer:</label><br>
            <textarea name="comment" rows="5" cols="100" minlength="10" placeholder="Please enter your comment here..." formmethod="post" required></textarea>
        </p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>