<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Question Display</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>{{ story['title'] }}</h2>
    <table>
        <thead>
            <td>ID</td>
            <td>Submission time</td>
            <td>Number of views</td>
            <td>Number of votes</td>
        </thead>
        <tbody>
            <td>{{ story['id'] }}</td>
            <td>{{ story['submission_time'] }}</td>
            <td>{{ story['view_number'] }}</td>
            <td>{{ story['vote_number'] }}</td>
        </tbody>
    </table>
    <h3>Message:</h3>
    <p>{{ story['message'] }}</p>
    {% if story['image']: %}
        <p>Image:</p>
        <p>{{ story['image'] }}</p>
    {% endif %}
    <input type="submit" name="question-vote-button" value="Upvote">
    <input type="submit" name="question-vote-button" value="Downvote">
    <a href= "/question/{{ story['id'] }}/delete" ><input type="button" value=Delete></a>
    <hr style="margin-right: 600px;">
    <h3>Answers:</h3>
    <ul>
        {% for line in story_answer: %}
            {% if line['question_id'] == story['id'] %}
                <p>{{ line['message'] }}</p>
                <p><input type="submit" name="answer-vote-button" value="Upvote">
                    <input type="submit" name="answer-vote-button" value="Downvote"></p>
                <p>Vote number: {{ line['vote_number'] }}</p>
                <hr style="margin-right: 600px">
            {% endif %}
        {% endfor %}
    </ul>
    <h3><a href="/question/{{story['id']}}/new-answer">Add a new answer</a></h3>



</body>
</html>