<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Question Display</title>
</head>
<body>
    <h2>{{ story['title'] }}</h2>
    <table>
        <thead>
            <td>ID</td>
            <td>Submission time</td>
            <td>Number of view</td>
            <td>Number of vote</td>
        </thead>
        <tbody>
            <td>{{ story['id'] }}</td>
            <td>{{ story['submission_time'] }}</td>
            <td>{{ story['view_number'] }}</td>
            <td>{{ story['vote_number'] }}</td>
            <td>{{ story['image'] }}</td>
        </tbody>
    </table>
    <h3>Message:</h3>
    <p>{{ story['message'] }}</p>
    {% if story['image']: %}
        <p>Image:</p>
        <p>{{ story['image'] }}</p>
    {% endif %}
    <input type="submit" name="vote-button" value="Upvote">
    <input type="submit" name="vote-button" value="Downvote">
    <h3>Answers:</h3>
    <ul>
        {% for line in story_answer: %}
            {% if line['question_id'] == story['id'] %}
                <li>{{ line['message'] }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <a href="/question/{{story['id']}}/new-answer">Add a new answer</a>
</body>
</html>