<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Question Display</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div id="story"></div>
{% for question in question %}
    <h2>{{ question.title }}</h2>

    <table>
        <thead>
        <td>ID</td>
        <td>Submission time</td>
        <td>Number of views</td>
        <td>Number of votes</td>
        <td>Image</td>
        </thead>
        <tbody>
        <td>{{ question.id }}</td>
        <td>{{ question['submission_time'] }}</td>
        <td>{{ question['view_number'] }}</td>
        <td>{{ question['vote_number'] }}</td>
        <td>{{ question['image'] }}</td>
        </tbody>
    </table>
    <h3>Message:</h3>
    <p id="question_message">{{ question['message'] }}</p>
    {% if question['image']: %}
        <p>Image:</p>
        <p>{{ question['image'] }}</p>
    {% endif %}
    <h4>Question comments:</h4>
    <h5>
        {% for question_comment in question_comments %}
            <p>{{ question_comment['message'] }}</p>
            <a href="/comments/{{ question_comment['id'] }}/edit/{{ question['id'] }}"><input type="button"
                                                                                              value="Edit question comment"></a>
            <a href="/comments/{{ question_comment['id'] }}/delete/{{ question['id'] }}"><input type="button"
                                                                                                value="Delete question comment"></a>
        {% endfor %}
    </h5>
    <button type="submit" name="question-upvote" value="{{ question['id'] }}" formmethod="post"
            formaction="/question/<question_id>/vote-up">Upvote
    </button>
    <button type="submit" name="question-downvote" value="{{ question['id'] }}" formmethod="post"
            formaction="/question/<question_id>/vote-down">Downvote
    </button>
    <a href="/question/{{ question['id'] }}/delete"><input type="button" value=Delete></a>
    <a href="/question/{{ question['id'] }}/new_comment"><input type="button" value="Add comment to question"></a>
    <hr style="margin-right: 600px;">
    <h3>Answers:</h3>
    <ul>
        {% for answer in answers %}
            <p>{{ answer['message'] }}</p>
            <div id="answer_image"><p>Image: {{ answer['image'] }}</p></div>
            <h5>Comments:</h5>
            {% for answer_comment in answer_comments %}
                {% if answer['id'] == answer_comment['answer_id'] %}
                    <h6>
                        <p>{{ answer_comment['message'] }}</p>
                    </h6>
                {% endif %}
            {% endfor %}
            <p>
                <button type="submit" name="answer-vote-button" value="Upvote" formmethod="post"
                        formaction="/question/<question_id>/vote-up">Upvote
                </button>
                <button type="submit" name="answer-vote-button" value="Downvote" formmethod="post"
                        formaction="/question/<question_id>/vote-down">Downvote
                </button>
            <a href="/question/{{ question['id'] }}/{{ answer['id'] }}/new_comment"><input type="button" value="Add comment"></a>
            <a href="/answer/{{ answer['id'] }}/edit"><input type="button" value="Edit"></a>
            </p>
            <p>Vote number: {{ answer['vote_number'] }}</p>
            <hr style="margin-right: 600px">

        {% endfor %}

    </ul>
    <h3><a href="/question/{{ question['id'] }}/new-answer">Add a new answer</a></h3>
{% endfor %}
</body>
{% include 'footer.html' %}
</html>

