<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search result</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<h1>Ask Mate</h1>
    <form id=search_form action=/search method="get">
        <input name="search_phrase">
        <input type="submit" value="Search">
    </form>
    <i id="search_phrase">Search Phrase: {{  search_phrase }}</i>
    <div id="search_sheet">
    <i class="search_title"> Results in questions:</i>
    {% for result in data %}
        <li class="search_list">
           <a href= "/question/{{ result.id }}">{{ result.title}}</a>
        </li>
    {% endfor %}

    <i class="search_title">Results in answers:</i>
    {% for result in answer_data %}
        <li class="search_list"><a href="/question/{{ result.question_id }}">{{ result.message }}</a></li>
    {% endfor %}

</body>
{% include 'footer.html' %}
</html>